@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* @apply bg-slate-800; */
  background: linear-gradient(90deg, #161122 21px, transparent 1%) center,
    linear-gradient(#161122 21px, transparent 1%) center, #a799cc;
  background-size: 22px 22px;
  backdrop-filter: blur(1px);
}

.btn {
  @apply transition-all ease-in-out border-violet-700 duration-100 bg-opacity-0 hover:bg-opacity-100 z-50 p-3 text-3xl hover:bg-slate-600 md:rounded-xl;
}

.btn:hover {
  @apply glassmorph-dark border-2;
}

.glassmorph-dark {
  background: rgba(22, 36, 77, 0.4);
  box-shadow: 0 4px 30px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
}
